<ion-view style="" title="Author List">
    <ion-content class="has-header" scroll="true" overflow-scroll="true" padding="true">
        <ion-list style="">
            <ion-item style="" ui-sref="tabsController.authorsPostList" class="item-thumbnail-left">
                <img src="img/wOJfwnN0S7ONsD5ZERSF_tumblr_lyh4fmqPCt1qd0183.jpg">
                <h2>ਸੁਰਜੀਤ ਪਾਤਰ</h2>
                <p></p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.authorsPostList" class="item-thumbnail-left">
                <img src="img/uYPliPlTk6nlAxTjO5j8_amrita_pritam.jpg">
                <h2>ਅਮ੍ਰਿਤਾ ਪ੍ਰੀਤਮ</h2>
                <p></p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.authorsPostList" class="item-thumbnail-left">
                <img src="img/jo42CjheSl2JI7CivH8j_f11600081.jpg">
                <h2>ਵਾਰਿਸ ਸ਼ਾਹ</h2>
                <p></p>
            </ion-item>
            <ion-item style="" ui-sref="tabsController.authorsPostList" class="item-thumbnail-left">
                <img src="img/4f12vW6JSwKqkZlWrv87_bulleh-shah-670x250.gif">
                <h2>ਬੁੱਲੇ ਸ਼ਾਹ</h2>
                <p></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>