<ion-view style="" title="{{post.title}}">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 ng-bind-html="post.title"></h2>
        <div style="">
           <p ng-bind-html="post.content"></p>
           <div id="share">
               <a class="button button-positive  button-block" href="{{post.fbShareURL}}">Facebook</a>
               <a class="button button-calm  button-block" href="{{post.twitterShareURL}}">Twitter</a>
               <a class="button button-balanced  button-block" href="{{post.whatsappShareURL}}">WhatsApp</a>
           </div>
        </div>
    </ion-content>
</ion-view>