<ion-view style="" title="Post Detail Page">
    <ion-content class="has-header" overflow-scroll="true" padding="true">
        <h2 style="">ਕੁਕਨੂਸ – ਅੰਮ੍ਰਿਤਾ ਪ੍ਰੀਤਮ</h2>
        <div style="">
            <p>ਲਿਖ ਜਾ ਮੇਰੀ ਤਕਦੀਰ ਨੂੰ ਮੇਰੇ ਲਈ</p>

            <p>ਮੈਂ ਜੀਅ ਰਹੀ ਤੇਰੇ ਬਿਨਾਂ ਤੇਰੇਲਈ……….</p>

            <p>ਹਰ ਚੰਦਉਰੀ ਹਰ ਘੜੀ ਬਣਦੀ ਰਹੀ</p>

            <p>ਹਰ ਚੰਦਉਰੀ ਹਰ ਘੜੀ ਮਿਟਦੀ ਰਹੀ ……..</p>

            <p>ਦੂਧੀਆ ਚਾਨਣ ਵੀ ਅੱਜ ਹੱਸਦੇ ਨਹੀਂ</p>

            <p>ਬੇਬਹਾਰੇ ਫ਼ਲ ਜਿਵੇਂ ਰਸਦੇ ਨਹੀਂ ……..</p>

            <p>ਉਮਰ ਭਰ ਦਾ ਇਸ਼ਕ਼ ਬੇਆਵਾਜ਼ ਹੈ</p>

            <p>ਹਰ ਮੇਰਾ ਨਗਮਾਂ ,ਮੇਰੀ ਆਵਾਜ਼ ਹੈ ……..</p>

            <p>ਹਰਫ਼ ਮੇਰੇ ਤੜਪ ਉਠਦੇ ਹਨ ਇਵੇਂ</p>

            <p>ਸੁਲਗਦੇ ਹਨ ਰਾਤ ਭਰ ਤਾਰੇ ਜਿਵੇਂ …..</p>

            <p>ਉਮਰ ਮੇਰੀ ਬੇ-ਵਫ਼ਾ ਮੁਕਦੀ ਪਈ</p>

            <p>ਰੂਹ ਮੇਰੀ ਬੇਚੈਨ ਹੈ ਤੇਰੇ ਲਈ …….</p>

            <p>ਕੁਕਨੂਸ ਦੀਪਕ ਰਾਗ ਨੂੰ ਅੱਜ ਗਾਏਗਾ</p>

            <p>ਇਸ਼ਕ਼ ਦੀ ਇਸ ਲਾਟ ਤੇ ਬਲ ਜਾਏਗੀ …..</p>

            <p>ਸੁਪਨਿਆਂ ਨੂੰ ਚੀਰ ਕੇ ਆ ਜਰਾ</p>

            <p>ਰਾਤ ਬਾਕੀ ਬਹੁਤ ਹੈ ਨਾ ਜਾ ਜ਼ਰਾ ……</p>

            <p>ਰਾਖ ਹੀ ਇਸ ਰਾਗ ਦਾ ਅੰਜਾਮ ਹੈ</p>

            <p>ਕੁਕਨੂਸ ਦੀ ਇਸ ਰਾਖ ਨੂੰ ਪ੍ਰਣਾਮ ਹੈ …….</p>

            <p>ਰੱਜ ਕੇ ਅੰਬਰ ਜਦੋਂ ਫਿਰ ਰੋਏਗਾ</p>

            <p>ਫਿਰ ਨਵਾਂ ਕੁਕਨੂਸ ਪੈਦਾ ਹੋਏਗਾ ……</p>
        </div>
        <div style="">
            <h3>Share with Friends :</h3>
        </div>
        <button class="button button-positive  button-block icon ion-social-facebook" style="font-weight:bold;" id="postDetailPage-button5">Facebook</button>
        <button class="button button-calm  button-block icon ion-social-twitter" style="font-weight:bold;" id="postDetailPage-button6">Twitter</button>
        <button class="button button-balanced  button-block icon ion-social-whatsapp" style="font-weight:bold;" id="postDetailPage-button8">WhatsApp</button>
        <div style="" class="button-bar"></div>
    </ion-content>
</ion-view>