<ion-view style="" title="Tabs Controller">
    <ion-tabs style="" class="tabs-light tabs-icon-top">
        <ion-tab style="" title="Posts" icon="ion-ios-home-outline" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Categories" icon="ion-ios-color-filter-outline" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Authors" icon="ion-ios-person-outline" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="About Us" icon="ion-ios-keypad-outline" href="#/page1/page8">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>