<ion-view style="" title="Tabs Controller">
    <ion-tabs style="" class="tabs-light tabs-icon-top">

        <ion-tab style="" title="Recent Posts" icon="ion-ios-home-outline" href="#/tab/recentpostlist">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        
        <ion-tab style="" title="Authors" icon="ion-ios-person-outline" href="#/tab/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>

        <ion-tab style="" title="Categories" icon="ion-ios-color-filter-outline" href="#/tab/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>

        <ion-tab style="" title="About Us" icon="ion-ios-keypad-outline" href="#/tab/aboutus">
            <ion-nav-view name="tab-aboutus"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>